<div class="content">
    <table cellspacing="0">
        <thead>
            <tr class="head">
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Registered At</th>
                <th>Team Id</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of currentUsers">
                <td style="width: 4%;">{{user.id}}</td>
                <td style="width: 12%;" class="left">{{user.firstName}}</td>
                <td style="width: 16%;" class="left">{{user.lastName}}</td>
                <td class="left">{{user.email}}</td>
                <td style="width: 10%;">{{user.birthday | ukrDate}}</td>
                <td style="width: 10%;">{{user.registeredAt | ukrDate}}</td>
                <td style="width: 8%;">{{user.teamId}}</td>
                <td style="width: 6%;"><mat-icon aria-hidden="false" aria-label="Create icon" (click)="editUser(user)">create</mat-icon></td>
                <td style="width: 6%;"><mat-icon aria-hidden="false" aria-label="Delete icon" (click)="deleteUser(user.id)">delete</mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="spinner" *ngIf="loading">
    <mat-spinner color="warn" diameter="70"></mat-spinner>
</div>