nav {
    overflow: hidden;
    border-bottom: grey;
    border-bottom: 1px solid;
}

a {
    float: left;
    text-align: center;
    padding: 10px 16px;
    font-size: 1.2em;
    color: white;
}
a:visited {
    color: rgb(168, 218, 238);
}

a:hover {
    background-color: rgb(148, 140, 140, 0.2);
}