<div class="content">
    <table cellspacing="0">
        <thead>
            <tr class="head">
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Finished At</th>
                <th>State Id</th>
                <th>Project Id</th>
                <th>Performer Id</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of currentTasks">
                <td style="width: 3%;">{{task.id}}</td>
                <td style="width: 8%;" class="left">{{task.name}}</td>
                <td class="left">{{task.description}}</td>
                <td style="width: 10%;">{{task.createdAt | ukrDate}}</td>
                <td style="width: 10%;">{{task.finishedAt | ukrDate}}</td>
                <td style="width: 7%;" appState [text]="TaskState[task.stateId]">{{TaskState[task.stateId]}}</td>
                <td style="width: 7%;">{{task.projectId}}</td>
                <td style="width: 7%;">{{task.performerId}}</td>
                <td style="width: 6%;"><mat-icon aria-hidden="false" aria-label="Create icon" (click)="editTask(task)">create</mat-icon></td>
                <td style="width: 6%;"><mat-icon aria-hidden="false" aria-label="Delete icon" (click)="deleteTask(task.id)">delete</mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="spinner" *ngIf="loading">
    <mat-spinner color="warn" diameter="70"></mat-spinner>
</div>