<div class="content">
    <table cellspacing="0">
        <thead>
            <tr class="head">
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Deadline</th>
                <th>Author Id</th>
                <th>Team Id</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of currentProjects">
                <td style="width: 3%;">{{project.id}}</td>
                <td style="width: 8%;" class="left">{{project.name}}</td>
                <td class="left">{{project.description}}</td>
                <td style="width: 10%;">{{project.createdAt | ukrDate}}</td>
                <td style="width: 10%;">{{project.deadline | ukrDate}}</td>
                <td style="width: 7%;">{{project.authorId}}</td>
                <td style="width: 7%;">{{project.teamId}}</td>
                <td style="width: 6%;"><mat-icon aria-hidden="false" aria-label="Create icon" (click)="editProject(project)">create</mat-icon></td>
                <td style="width: 6%;"><mat-icon aria-hidden="false" aria-label="Delete icon" (click)="deleteProject(project.id)">delete</mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="spinner" *ngIf="loading">
    <mat-spinner color="warn" diameter="70"></mat-spinner>
</div>