<h2 mat-dialog-title>Edit project</h2>
<mat-dialog-content class="mat-typography">
<form [formGroup]="projectForm" class="form">
    <div>
        <label>Name</label><br>
        <input name="name" formControlName="name">
        <div class="alert" *ngIf="projectForm.controls['name'].invalid && projectForm.controls['name'].touched">
            This field can not be empty
        </div>
    </div>
    <div>
        <label>Description</label><br>
        <input name="description" formControlName="description">
    </div>
    <div>
        <label>Created</label><br>
        <input name="created" formControlName="created">      
        <div class="alert" *ngIf="projectForm.controls['created'].invalid && projectForm.controls['created'].touched">
            This field can not be empty
        </div>
    </div>
    <div>
        <label>Deadline</label><br>
        <input name="deadline" formControlName="deadline">
        <div class="alert" *ngIf="projectForm.controls['deadline'].invalid && projectForm.controls['deadline'].touched">
            This field can not be empty
        </div>
    </div>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Created</mat-label><br>
        <input matInput [matDatepicker]="created" style="width: 78%;" formControlName="created">
        <mat-datepicker-toggle matSuffix [for]="created"></mat-datepicker-toggle>
        <mat-datepicker #created></mat-datepicker>
        <div class="alert" *ngIf="projectForm.controls['created'].invalid && projectForm.controls['created'].touched">
            This field can not be empty
        </div>
    </mat-form-field> -->
    <!-- <mat-form-field appearance="fill">
        <mat-label>Deadline</mat-label><br>
        <input matInput [matDatepicker]="deadline" style="width: 78%;" formControlName="deadline">
        <mat-datepicker-toggle matSuffix [for]="deadline"></mat-datepicker-toggle>
        <mat-datepicker #deadline></mat-datepicker>
        <div class="alert" *ngIf="projectForm.controls['deadline'].invalid && projectForm.controls['deadline'].touched">
            This field can not be empty
        </div>
    </mat-form-field> -->
   <div>
        <label>Author Id</label><br>
        <input name="authorId" formControlName="authorId">
        <div class="alert" *ngIf="projectForm.controls['authorId'].invalid && projectForm.controls['authorId'].touched">
            Not empty and numeric field
        </div>
    </div>
    <div>
        <label>Team Id</label><br>
        <input name="teamId" formControlName="teamId">
        <div class="alert" *ngIf="projectForm.controls['teamId'].invalid && projectForm.controls['teamId'].touched">
            Not empty and numeric field
        </div>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="cancel-btn" mat-button mat-dialog-close>Cancel</button>
  <button class="confirm-btn" (click)="submit()" [disabled]="!formIsValid()">Save</button>
</mat-dialog-actions>
  