<h2 mat-dialog-title>Delete window</h2>
<mat-dialog-content class="mat-typography">
<p>Do you really want to delete this entry?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
</mat-dialog-actions>