<div class="content">
    <table cellspacing="0" style="width: 100%;">
        <thead>
            <tr class="head">
                <th>Id</th>
                <th>Name</th>
                <th>Created At</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of currentTeams">
                <td style="width: 10%;">{{team.id}}</td>
                <td style="width: 50%;" class="left">{{team.name}}</td>
                <td style="width: 20%;">{{team.createdAt | ukrDate}}</td>
                <td style="width: 10%;"><mat-icon aria-hidden="false" aria-label="Create icon" (click)="editTeam(team)">create</mat-icon></td>
                <td style="width: 10%;"><mat-icon aria-hidden="false" aria-label="Delete icon" (click)="deleteTeam(team.id)">delete</mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="spinner" *ngIf="loading">
    <mat-spinner color="warn" diameter="70"></mat-spinner>
</div>