html, body { height: 100%; }

body { 
    margin: 20px 100px 20px 100px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: -webkit-linear-gradient(left, #6246ff, #19bdc9);
    color: white;
}

thead {
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.3);
    font-size: 0.9em;
    line-height: 30px;
}

table {
    border: 10;
    font-weight: 200;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9em;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

tbody > tr:hover {
    background-color: rgba(106, 119, 133, 0.2);
}

mat-icon:hover {
    color: rgba(106, 119, 133, 0.8);
    cursor: pointer;
}

.left {
    text-align: left;
}

.content {
    margin-top: 8px;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 21, 21, 0.5);
}
mat-spinner {
    position: relative;
    top: 50%;
    left: 50%;
}

input{
    margin-bottom: 10px;
    position: static;
    width: 95%;
    border: none;
    background: #f1f1f1;
    padding: 10px;
 }
 
 input:focus {
    outline: none !important;
    border: 2px solid rgb(52, 7, 175);
 }
 
 label {
    font-size: 1.1em;
 }
 
 button.cancel-btn {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 60px;
    margin-right: 10px;
 }
 
 button.confirm-btn {
    background-color: rgb(25, 88, 204);
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 60px;
    color: white;
 }

 button.confirm-btn:disabled {
     background-color: gray;
 }

 div.alert {
    color: red;
    padding: 0px 10px 10px 0px;
 }